.container {
  border: 1px solid #ddd;
  max-width: 500px;
  overflow: hidden;
  margin: 50px auto;
  padding: 24px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-form {
  background: #eee;
}

.todo-form > .todo-input {
  width: 100%;
}

.todo-form > button[type='submit'] {
  display: none;
}

.todo-list {
  position: relative;
  max-height: 500px;
  margin: 10px 0;
  overflow: scroll;
}

.todo-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  height: 50px;
  cursor: pointer;
}

.todo-item.completed {
  color: #999;
  text-decoration: line-through;
}

.todo-item.dragging {
  opacity: 0.5;
  border: 2px dashed darkorange;
}

.todo-item.drag-over {
  border-left: 4px solid green;
  padding-left: 4px;
}

.blur {
  filter: blur(3px);
}

.bottom-container {
  display: flex;
  gap: 18px;
  align-items: center;
}

.bottom-container button {
  padding: 4px 8px;
  margin-right: 8px;
  background: #eee;
}

.bottom-container button.active {
  color: #fff;
  background: darkorange;
}
