.container {
  border: 1px solid #ddd;
  max-width: 450px;
  overflow: hidden;
  margin: 50px auto;
  padding: 12px;
}

.todo-form {
  background: #eee;
}

.todo-form > .todo-input {
  width: 100%;
}

.todo-form > button[type='submit'] {
  display: none;
}

.todo-list {
  max-height: 300px;
  margin: 10px 0;
  overflow: scroll;
}

.todo-item {
  border-bottom: 1px solid #ddd;
}

.todo-item.completed {
  color: #999;
  text-decoration: line-through;
}

.todo-item.dragging {
  opacity: 0.5;
  border: 3px dashed darkorange;
}

.bottom-container {
  display: flex;
  gap: 18px;
  align-items: center;
}

.bottom-container button {
  padding: 4px 8px;
  margin-right: 8px;
  background: #eee;
}
